@using WebsiteBanBanPhim.Models;
@model IEnumerable<ItemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/LayoutPage/_HomeLayout.cshtml";
}

@if (Model.Count() == 0)
{
    <div style="height:500px">
        <h2 style="color:red;">Giỏ hàng của bạn không có sản phẩm nào!</h2>
    </div>
}
else
{
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>Xem giỏ hàng</span>
        </h3>
        <!-- //tittle heading -->
        <form>
            <div class="checkout-right">
                <h4 class="mb-sm-4 mb-3">
                    Giỏ hàng của bạn có:
                    <span>@Model.Count() sản phẩm</span>
                </h4>
                <div class="table-responsive">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="rem1">
                                    <td class="invert">@item.TenSP</td>
                                    <td class="invert">
                                        <img src="~/Images/@item.HinhAnh" style="width:200px;height:150px" class="img-responsive">
                                    </td>
                                    <td class="invert">@item.DonGia.ToString("#,##")</td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <span>@item.SoLuongMua</span>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="invert">@item.ThanhTien.ToString("#,##")</td>
                                    <td class="invert">
                                        <div class="rem">
                                            <a href="@Url.Action("SuaGioHang","GioHang",new { @MaSP=item.MaSP})">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="invert">
                                        <div class="rem">
                                            <a href="@Url.Action("XoaItemGH","GioHang",new { @MaSP=item.MaSP})">
                                                <i class="fa fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>


        <div class="checkout-left">
            <div class="address_form_agile mt-sm-5 mt-4">
                <h4 class="mb-sm-4 mb-3">Thông tin khách hàng</h4>
                <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                    <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                        <div class="information-wrapper">
                            <div class="first-row">
                                <div class="controls form-group">
                                    <input class="billing-address-name form-control" type="text" name="name" placeholder="Họ tên" required="">
                                </div>
                                <div class="w3_agileits_card_number_grids">
                                    <div class="w3_agileits_card_number_grid_left form-group">
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="Số điện thoại" name="number" required="">
                                        </div>
                                    </div>
                                    <div class="w3_agileits_card_number_grid_right form-group">
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="Email" name="landmark" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="controls form-group">
                                    <input type="text" class="form-control" placeholder="Địa chỉ" name="city" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="checkout-right-basket">
                    <a href="/Home/Index" style="background:#1FDE46;">
                        Mua hàng tiếp
                    </a>
                    <a href="#">
                        Thanh toán
                        <span class="far fa-hand-point-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .invert .rem .fa {
        font-size: 30px;
        color: black;
    }

        .invert .rem .fa:hover {
            color: #2E62C8;
        }
</style>